{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "react/destructuring-assignment": [
      "always",
      {
        "ignoreClassFields": true
      }
    ],
    "no-unused-expressions": false
  }
}
