body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: .5rem;
}

input {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.salinity-input {
outline:none 
}

select {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.equals {
  font-weight: bold;
  /* font-size: 2rem;
  margin: 1rem; */
}

.ferment {
  display: flex;
gap: 10px}